<!DOCTYPE html>
<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
body  {

  background-color: #FFFF;
}


.button {
  background-color: #0020C2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
label {
  width:200px;
  display: inline-block;
}

.button5 {font-size: 24px;}
</style>
</head>
<body>

<center>
<h1> VOCAL PPT </h1>
<h3 id='question'> {{fname}} </h3>
<br/>
<h3> topics available are </h3>
<br/>
{% for o in data %} 
       <h4 class='row'> {{o}} </h4>
    
   {% endfor %}
<br/>   
<div >
    <p id="transcript" style="color:black;font-size:50px;font-weight: bold;"></p>
</div>
<br/>
</center>


    <div class='row' style="width:800px; margin:0 auto;">
      
    </div>

<center>
<button class="btn waves-effect waves-light" type="hidden" onclick='abcd()'>RECORD
</center>

</body>
<script>
fetch("/talkFunc/What is the topic of your  powerpoint").then(res => res.json()).then(data => {
     
    });


setInterval(() => {
   let doc = document.getElementById("transcript").textContent;
    console.log(doc+"here"); 
    if(doc=='blank'){
      window.open("layout","_self")
    }                                     //function to switch between pages
    else if(doc!="" && doc!='Could not understand audio'){
      window.open("template","_self")
    }
    
  }, 100);    

function abcd(){
  fetch("/listen1").then(res => res.json()).then(data => {
      console.log('listen')
      let doc = document.getElementById("question")
      if (data !== "") {
        doc.innerHTML = data.mystring
        fetch(`/talkFunc/${doc.innerHTML}`).then(res => res.json()).then(data => {
     
    });
        console.log(data)
      }
           
    })
}

setInterval(() => {
    fetch("/getaudio").then(res => res.json()).then(data => {
      let doc = document.getElementById("transcript")
      if (data !== "") {                                          //function to display the user voice
        doc.innerHTML = data.mystring
        console.log(data)
      }
    })
  }, 100);
</script>    
</html>
